.main {
  background-image: url("../public/svg/Bg.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  font-family: "Conthrax", sans-serif;
}

.main h2 {
  font-weight: 600;
  font-family: "Conthrax", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.boxContent1 {
  display: flex;
  flex-wrap: wrap;
}

.boxContent1 .left {
  width: 50%;
  padding: 120px;
  padding-left: 10%;
  padding-right: unset;
}

.boxContent1 .left h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 30px;
}

.boxContent1 .left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  width: 80%;
  margin-bottom: 40px;
}

.boxContent1 .left .boxBtn {
  width: 200px;
}

.boxContent1 .right {
  width: 50%;
  text-align: right;
}

.boxContent1 .right img {
  width: 100%;
}

.boxContent2 {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 64px;
}

.boxContent2 > p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 19px;
  font-family: "Conthrax", sans-serif;
}

.boxContent2 > div {
  opacity: 0.3;
  display: flex;
  align-items: center;
  gap: 14px;
}

.boxContent2 > div > p {
  font-weight: 300;
  font-size: 14px;
}

.boxContent3 {
  padding: 0 15%;
  position: relative;
  margin-bottom: 38px;
}

.boxContent3 hr {
  background: #d9d9d9;
  opacity: 0.1;
}

.boxContent3 > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(2px);
  border-radius: 100px;
  border: 1px solid #5a5a5a;
  padding: 8px 16px;
  font-family: "Conthrax", sans-serif;
}

.boxContent4,
.boxContent5,
.boxContent6,
.boxContent7,
.boxContent8,
.boxContent9,
.boxContent10,
.boxContent11,
.boxContent12,
.boxContent13,
.footer {
  padding: 0 15%;
}

.boxContent4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.boxContent4 img {
  width: 16%;
}

.boxContent4 > div {
  width: 16%;
  opacity: 0.6;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContent5 {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 100px;
}

.boxContent5 > div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 37px 45px 17px;
  background: linear-gradient(264.28deg, #0f7ed3 -23.44%, #083d90 100.78%);
  border-radius: 26px;
  gap: 10px;
}

.boxItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.boxContent5 > div > div:first-child {
  width: 40%;
  position: absolute;
  top: -80px;
  left: 5%;
}

.boxContent5 > div > div:first-child img {
  width: 100%;
}

.boxContent5 .info {
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.boxContent5 .infoContent {
  width: 99%;
  padding: 0 12px;
}

.boxContent5 .info img {
  margin-bottom: 12px;
}

.boxContent5 .info div > div {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  font-family: "Conthrax", sans-serif;
}

.boxContent5 .info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  padding: 0 20px;
  opacity: 0.8;
}

.boxContent5 .info .rule {
  width: 1px;
  height: 80px;
  background-color: red;
  background: #ffffff;
  opacity: 0.15;
}

.boxContent5 .boxItem .mobileBanner {
  display: none;
}

.boxContent5 .info:nth-child(3) .rule {
  display: none;
}

.boxContent6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.boxContent6 .left {
  width: 48%;
}

.boxContent6 .left h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  font-family: "Conthrax", sans-serif;
  margin-bottom: 25px;
}

.boxContent6 .left p {
  width: 90%;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 16px;
  text-align: justify;
}

.boxContent6 .left p {
  margin-bottom: 36px;
}

.boxContent6 .left .boxBtn {
  width: 220px;
}

.boxContent6 .right {
  width: 50%;
}

.boxContent6 .right img {
  width: 100%;
}

.boxY {
  font-family: "Conthrax", sans-serif;
  width: fit-content;
  padding: 8px 16px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #5a5a5a;
  border-radius: 100px;
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(2px);
}
.boxY span {
  background: linear-gradient(264.28deg, #e8e57f -23.44%, #9f6b51 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.boxContent7 {
  text-align: center;
  margin-bottom: 70px;
}

.boxContent7 .boxY,
.boxContent8 .boxY {
  margin: auto;
  margin-bottom: 20px;
}

.boxContent7 p {
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0 95px;
}

.boxContent7 .boxSpeciality {
  display: flex;
  justify-content: space-between;
}

.boxContent7 .boxSpeciality > div {
  width: 24%;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 73.86%
  );
  backdrop-filter: blur(2px);
  border-radius: 18px;
  padding: 0 22px;
}

.boxContent7 .boxSpeciality > div > div:first-child {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.boxContent7 .boxSpeciality .title {
  padding-top: 72px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Conthrax", sans-serif;
  margin-bottom: 8px;
}

.boxContent7 .boxSpeciality P {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.boxContent8 {
  text-align: center;
  margin-bottom: 100px;
}

.boxContent8 h1 {
  padding: 0 7%;
  margin-bottom: 40px;
}

.boxContent8 .content {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxContent8 .content .right {
  width: 49%;
}

.boxContent8 .content .right img {
  width: 100%;
  height: auto;
}

.boxContent8 .content .left {
  width: 49%;
}

.boxContent8 .content .left .item {
  display: flex;
  margin-bottom: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 73.86%
  );
  backdrop-filter: blur(2px);
  border-radius: 16px;
  padding: 40px 22px 0px 22px;
}

.boxContent8 .content .left .item .boxContent {
  padding-left: 16px;
}

.boxContent8 .content .left .item .rule {
  width: 1px;
  background: #ffffff;
  opacity: 0.1;
}

.boxContent8 .content .left .item img {
  margin-right: 16px;
}

.boxContent8 .content .left .item .title {
  font-size: 20px;
  line-height: 140%;
  font-family: "Conthrax", sans-serif;
}

.boxContent8 .content .left .item P {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.boxContent9 {
  margin-bottom: 100px;
}

.boxContent9 .boxContent {
  display: flex;
  justify-content: space-between;
}

.boxContent9 .boxContent > div {
  width: 49%;
}

.boxContent9 .boxContent > div > img {
  width: 100%;
  height: auto;
}

.boxContent9 .boxContent > div > h1 {
  margin-bottom: 25px;
}

.boxContent9 .boxContent > div > p {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 14px;
}

.boxContent9 .boxContent > div > .boxBtn {
  width: 185px;
}

.boxContent10MB {
  display: none;
}

.boxContent10 .boxTitle,
.boxContent10MB .boxTitle {
  text-align: center;
  margin-bottom: 40px;
}

.boxContent10 .boxTitle .boxY,
.boxContent10MB .boxTitle .boxY {
  margin: auto;
  margin-bottom: 28px;
}

.boxContent10 .boxTitle h1,
.boxContent10MB .boxTitle h1 {
  margin-bottom: 10px;
}

.boxContent10 .boxTitle p,
.boxContent10MB .boxTitle p {
  font-weight: 300;
  font-size: 14px;
}

.boxContent10 .boxContent {
  display: flex;
  width: 1050px;
  margin: auto;
  margin-bottom: 40px;
}

.boxContent10 .boxContent .left,
.boxContent10MB .boxContent .left {
  width: 48%;
  padding-top: 45px;
}
.boxContent10 .boxContent .midd,
.boxContent10MB .boxContent .midd {
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxContent10 .boxContent .right {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 45px;
}

.boxContent10 .boxContent .card,
.boxContent10MB .boxContent .card {
  position: relative;
  padding: 36px 30px 30px 30px;
  margin-bottom: 42px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 73.86%
  );
  backdrop-filter: blur(2px);
  border-radius: 16px;
}

.boxContent10 .boxContent .card .boxY,
.boxContent10MB .boxContent .card .boxY {
  position: absolute;
  top: -18px;
}

.boxContent10 .boxContent .card p,
.boxContent10MB .boxContent .card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.boxContent10 .boxContent .card .rule,
.boxContent10MB .boxContent .card .rule {
  margin: 10px 0 20px;
  width: 60px;
  height: 4px;
  background: linear-gradient(264.28deg, #e8e57f -23.44%, #9f6b51 100.78%);
  border-radius: 1.2px;
}

.boxContent10 .boxContent .midd > div {
  background: #1f223e;
  width: 1px;
  height: 100%;
}

.boxContent10 .boxContent .left .connect,
.boxContent10MB .boxContent .left .connect {
  position: absolute;
  top: 50%;
  right: -9.8%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.boxContent10 .boxContent .left .connect > div {
  width: 18px;
  height: 1px;
  background: #1f223e;
}

.boxContent10 .boxContent .left .connect img,
.boxContent10MB .boxContent .left .connect img {
  padding: 4px;
  background: #1f223e;
  border-radius: 100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.boxContent10 .boxContent .right .connect {
  position: absolute;
  top: 50%;
  left: -2.5%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.boxContent10 .boxContent .right .connect > div {
  width: 18px;
  height: 1px;
  background: #1f223e;
}

.boxContent10 .boxContent .right .connect img {
  padding: 4px;
  background: #1f223e;
  border-radius: 100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.boxContent10 .boxBtn,
.boxContent10MB .boxBtn {
  width: 250px;
  margin: auto;
  margin-bottom: 106px;
}

.midTitle {
  text-align: center;
  margin-bottom: 40px;
}

.midTitle .boxY {
  margin: auto;
  margin-bottom: 20px;
}

.midTitle h1 {
  margin-bottom: 10px;
}

.midTitle p {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.boxContent11 {
  margin-bottom: 86px;
}

.boxContent11 .testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

.boxContent11 .testimonials .item {
  position: relative;
  width: 32%;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 51.68%
  );
  backdrop-filter: blur(2px);
  border-radius: 18px;
  padding: 58px 20px 34px;
}

.boxContent11 .testimonials .item .avatar {
  position: absolute;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
}

.boxContent11 .testimonials .item .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  font-family: "Conthrax", sans-serif;
  margin-bottom: 4px;
}

.boxContent11 .testimonials .item .subName {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 12px;
}

.boxContent11 .testimonials .item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  margin-top: 12px;
}

.boxContent11 .testimonials .item .avatar img {
  width: 100%;
  padding: 6px;
  background-color: #11121f;
  border-radius: 50%;
  border: 1px solid #1f223e;
}

.boxContent12 {
  margin-bottom: 100px;
}

.boxContent12 h1 {
  margin-bottom: 40px;
  padding: 0 15%;
}

.boxContent12 .boxContent {
  display: flex;
  background: #191e4f;
  backdrop-filter: blur(2px);
  border-radius: 16px;
}

.boxContent12 .boxContent .left {
  width: 35%;
  border-right: 1px solid #6565656c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxContent12 .boxContent .left > div:first-child {
  padding: 40px 30px 35px 30px;
}

.boxContent12 .boxContent .left .title {
  font-weight: 600;
  font-size: 20px;
  font-family: "Conthrax", sans-serif;
}

.boxContent12 .boxContent .left .rule {
  width: 60px;
  height: 1px;
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  border-radius: 1.2px;
  margin: 12px 0 20px;
}

.boxContent12 .boxContent .left hr {
  margin: 14px 0px;
  background: #d9d9d9;
  opacity: 0.1;
}

.boxContent12 .boxContent .boxInfo {
  display: flex;
  align-items: center;
}

.boxContent12 .boxContent .left span {
  font-weight: 300;
  font-size: 16px;
  margin-left: 8px;
  line-height: 140%;
  opacity: 0.8;
}

.boxContent12 .boxContent .left .strong {
  font-weight: 700;
  opacity: 1;
}

.boxContent12 .boxContent .left > div:last-child {
  padding-right: 30px;
  display: flex;
  align-items: flex-end;
}

.boxContent12 .boxContent .left > div:last-child img {
  width: 100%;
  height: auto;
}

.boxContent12 .boxContent .right {
  width: 65%;
  padding: 40px;
}

.boxContent12 .boxContent .right form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxContent12 .boxContent .right form > div {
  width: 49%;
  margin-bottom: 22px;
}

.boxContent12 .boxContent .right form > div:last-child {
  margin-bottom: unset;
}

.boxContent12 .boxContent .right form .difirent {
  width: 100%;
}

.boxContent12 .boxContent .right textarea {
  resize: none;
  width: 100%;
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(2px);
  border-radius: 6px;
  border: 1px solid #6565656c;
  margin-top: 7px;
  padding: 16px;
}

.boxContent12 .boxContent .right label {
  font-weight: 700;
  font-size: 14px;
  opacity: 0.6;
}

.boxContent12 .boxContent .right input,
.boxContent12 .boxContent .right select {
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(2px);
  border: 1px solid #6565656c;
  height: 48px;
  border-radius: 6px;
  width: 100%;
  margin-top: 7px;
  padding: 0 16px;
}

.boxContent12 .boxContent .right input:focus,
.boxContent12 .boxContent .right select:focus,
.boxContent12 .boxContent .right textarea:focus {
  outline: unset;
}

.boxContent12 .boxBtn {
  width: 155px;
}

.boxContent13 {
  margin-bottom: 60px;
}

.boxContent13 .boxContent {
  display: flex;
  background: linear-gradient(264.28deg, #0f7ed3 -23.44%, #083d90 100.78%);
  border-radius: 26px;
  padding: 30px;
}

.boxContent13 .boxContent .left {
  width: 55%;
}

.boxContent13 .boxContent .left h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.boxContent13 .boxContent .left p {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  margin: 14px 0 30px;
}

.boxContent13 .boxContent .boxBtn {
  width: 185px;
}

.boxContent13 .boxContent .right {
  width: 45%;
  position: relative;
}

.boxContent13 .boxContent .right img {
  position: absolute;
  width: 100%;
  top: -90px;
}

.footer > div {
  display: flex;
  padding: 58px 0 70px;
  justify-content: space-between;
}

.footer .option {
  display: flex;
  align-items: center;
}

.footer .option ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.footer .option ul li {
  font-family: "Conthrax", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.footer .media img {
  margin-right: 10px;
  cursor: pointer;
}

.footer .media img:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1280px) {
  .footer .boxLogo {
    width: 120px;
    display: flex;
    align-items: center;
  }

  .footer .boxLogo img {
    width: 100%;
  }

  .footer .option ul {
    gap: 10px;
  }

  .footer .option ul li {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .boxContent4,
  .boxContent5,
  .boxContent6,
  .boxContent7,
  .boxContent8,
  .boxContent9,
  .boxContent10,
  .boxContent11,
  .boxContent12,
  .boxContent13,
  .footer {
    padding: 0 10%;
  }

  .main h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    font-family: "Conthrax", sans-serif;
  }

  .boxContent1 .left {
    padding: 80px;
    padding-right: unset;
  }

  .boxContent1 .left h1 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .boxContent1 .right img {
    height: 560px;
  }

  .boxContent5 .info div > div {
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
  }

  .boxContent5 .info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    padding: unset;
    opacity: 0.8;
  }

  .boxContent5 > div > div:first-child {
    width: 40%;
    position: absolute;
    top: -70px;
    left: 5%;
  }

  .boxContent4 {
    margin-bottom: 32px;
  }

  .boxContent5 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
  }

  .boxContent6 {
    margin-bottom: 60px;
  }

  .boxContent6 .left h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .boxContent7 {
    text-align: center;
    margin-bottom: 20px;
  }

  .boxContent8 {
    margin-bottom: 60px;
  }

  .boxContent8 h1 {
    padding: 0;
    margin-bottom: 40px;
  }

  .boxContent8 {
    margin-bottom: 60px;
  }

  .boxContent8 .content {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boxContent8 .content {
    flex-wrap: wrap;
  }

  .boxContent8 .content .left,
  .boxContent8 .content .right {
    width: 100%;
  }

  .boxContent9 {
    margin-bottom: 60px;
  }

  .boxContent10 .boxContent {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .boxContent10 .boxContent .left .connect {
    right: -12.5%;
  }

  .boxContent10 .boxContent .right .connect {
    left: -1.5%;
  }

  .footer {
    padding: 0 5%;
  }

  .footer .option ul {
    gap: 15px;
  }

  .footer .option ul li {
    font-size: 10px;
  }

  .footer .boxLogo {
    width: 80px;
  }

  .footer .boxLogo img {
    width: 100%;
  }

  .boxContent4 div {
    font-size: 20px;
  }

  .boxContent13 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .boxContent4,
  .boxContent5,
  .boxContent6,
  .boxContent7,
  .boxContent8,
  .boxContent9,
  .boxContent10,
  .boxContent11,
  .boxContent12,
  .boxContent13,
  .boxContent10MB,
  .footer {
    padding: 0 5%;
  }

  .main {
    padding-bottom: 30px;
  }

  .boxContent1 .left,
  .boxContent1 .right {
    width: 100%;
  }

  .boxContent1 .left {
    padding: 60px 60px 30px 60px;
  }

  .boxContent1 .right {
    margin-bottom: 30px;
  }

  .boxContent1 .right img {
    height: auto;
  }

  .boxContent2 {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 64px;
  }

  .boxContent3 {
    padding: 0 5%;
  }

  .boxContent3 > div {
    width: 70%;
    text-align: center;
  }

  .boxContent4 {
    flex-wrap: wrap;
  }

  .boxContent4 img {
    width: 33%;
  }

  .boxContent4 div {
    width: 33%;
    font-size: 22px;
    justify-content: center;
  }

  .boxItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .boxContent5 > div > div:first-child {
    display: none;
  }

  .boxContent6 {
    flex-wrap: wrap;
    gap: 20px;
  }

  .boxContent6 .left,
  .boxContent6 .right {
    width: 100%;
  }

  .boxContent6 .left p {
    width: 100%;
  }

  .boxContent7 .boxSpeciality {
    flex-wrap: wrap;
  }

  .boxContent7 .boxSpeciality > div {
    width: 49%;
  }

  .boxContent7 .boxSpeciality .title {
    font-size: 16px;
  }

  .boxContent9 .boxContent {
    flex-wrap: wrap;
    gap: 20px;
  }

  .boxContent9 .boxContent > div {
    width: 100%;
  }

  .boxContent10 {
    display: none;
  }

  .boxContent10MB {
    display: block;
  }

  .boxContent10MB .boxContent {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .boxContent10MB .boxContent .right {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px;
  }

  .boxContent10MB .boxContent .midd > div {
    background: #474c7d;
    width: 1px;
    height: 100%;
  }

  .boxContent10MB .boxContent .right .connect {
    position: absolute;
    top: 50%;
    left: -0.5%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  .boxContent10MB .boxContent .right .connect > div {
    width: 18px;
    height: 1px;
    background: #474c7d;
  }

  .boxContent10MB .boxContent .right .connect img {
    padding: 4px;
    background: #474c7d;
    border-radius: 100px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .footer {
    display: none;
  }

  .boxContent12 h1 {
    padding: 0;
  }
}

@media only screen and (max-width: 426px) {
  .main h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    font-family: "Conthrax", sans-serif;
  }

  .boxContent1 .left h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .boxContent1 .left p {
    width: 100%;
  }

  .boxContent1 .left {
    padding: 20px;
  }

  .boxContent1 .left .boxBtn {
    margin: auto;
  }

  .boxContent2 > div {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .boxContent2 > div > p {
    width: 100%;
  }

  .boxContent3 > div {
    font-size: 14px;
    width: 80%;
  }

  .boxContent4 div {
    font-size: 28px;
    width: 50%;
  }

  .boxContent4 img {
    width: 50%;
  }

  .boxContent5 .info {
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .boxContent5 .info:nth-child(3) {
    border-bottom: unset;
  }

  .boxContent5 .info .rule {
    display: none;
  }

  .boxContent5 .boxItem .mobileBanner {
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
  }

  .boxContent5 > div {
    padding-bottom: unset;
  }

  .boxContent6 .left h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }

  .boxContent6 .left .boxBtn {
    margin: auto;
  }

  .boxContent8 {
    margin-bottom: 30px;
  }

  .boxContent9 .boxContent > div > .boxBtn {
    margin: auto;
  }

  .boxContent10MB .boxContent .right .connect {
    left: 0;
  }

  .boxContent10MB .boxContent .right .connect > div {
    width: 10px;
  }

  .boxContent11 .testimonials {
    flex-wrap: wrap;
    gap: 70px;
  }

  .boxContent11 .testimonials .item {
    width: 100%;
  }

  .boxContent12 .boxContent {
    flex-wrap: wrap;
  }

  .boxContent12 .boxContent .left {
    width: 100%;
    border-right: unset;
  }

  .boxContent12 .boxContent .right {
    width: 100%;
  }

  .boxContent12 .boxContent .left > div:first-child {
    padding: 20px;
  }

  .boxContent12 .boxContent .left > div:last-child {
    padding: 0 20px;
  }

  .boxContent12 .boxContent .right {
    padding: 20px;
  }

  .boxContent12 .boxBtn {
    margin: auto;
  }

  .boxContent13 .boxContent {
    flex-wrap: wrap;
  }

  .boxContent13 .boxContent .left,
  .boxContent13 .boxContent .right {
    width: 100%;
  }

  .boxContent13 .boxContent .right img {
    position: unset;
    height: auto;
  }

  .boxContent13 .boxContent .boxBtn {
    margin: auto;
    margin-bottom: 12px;
  }

  .boxContent13 .boxContent .left h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}
